<?xml version="1.0" encoding="utf-8" ?>
<!-- Sem esta configuração não funciona SSL com certificado auto assinado -->
<configuration>
  <appSettings>
    <add key="debug" value="true"/>
    <add key="log" value="true"/>
  </appSettings>
  <!-- Não é mais necessário! (mas por questão de segurança vou deixar comentado caso em alguma situação especial precise)
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>-->
</configuration>