Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
.DS_Store
*.lib
*.sbr
*.vs
obj/
publish/
packages/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[.vs]/*
.vs/config/applicationhost.config
Desktop.ini