<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TesteRepCid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TesteRepCid.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>192.168.0.146</value>
            </setting>
            <setting name="Porta" serializeAs="String">
                <value>1818</value>
            </setting>
            <setting name="PassCode" serializeAs="String">
                <value>0</value>
            </setting>
        </TesteRepCid.Properties.Settings>
    </userSettings>
    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true"/>
        </settings>
    </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
